* {
  box-sizing: border-box;
}

:root {
  --blue: #2E4057;
  --white: #FFF7EE;
  --pink: #F7B3CC;
  --black: #131C26;
  --yellow: #C7B65E;
  --orange: #EE583F;
}

.bg-box {
  background-color: rgba(247, 179, 204, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 1000px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

@media all and (min-width: 800px) {
  section {
    flex-direction: row;
  }
}

html {
  font-size: 100%;
  background-color: var(--white);
}

body {
  font-family: Calibri, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  color: var(--black);
}

h1,
h2,
h3 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  font-family: Comfortaa, Arial, sans-serif;
}

 .divider {
 border:none;
 box-shadow: 0 1px 3px rgba(46, 64, 87, 0.2);
 height: 1px;
 background-color: lightgray;
 margin: 1rem;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------- HEADER --------------------------------- */
/* ------------------------------------------------------------------------ */

.header-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

header {
  background-color: var(--blue);
  box-shadow: 0 4px 4px rgba(46, 64, 87, 0.2);
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius:  5px;
  border-bottom-right-radius: 5px;
  align-items: center;
  padding: 0px 20px;
}

#header-upper {
  display: flex;
  align-items: center;
}

#header-logo {
  width: 100%;
  margin-right: auto;
}

h1#client-name {
  font-weight: 700;
  color: var(--white);
  text-align: left;
  margin-left: 10px;
  flex: 1;
}

.navbar a,
.navbar-list a {
  text-decoration: none;
  /* header text color  */
  color: var(--white);
  margin: 0px;
  display: inline-block;
  padding: 5px;
}

.navbar a:hover,
.navbar-list a:hover {
  background-color: var(--yellow);
  color: var(--white);
}

.navbar {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  height: 3.2rem;
  width: 3.2rem;
  padding: 0;
  background-color: var(--yellow);
}

nav i {
  font-size: 1.875rem;
  /* hamburger color */
  color: var(--white);
}

/* home / about us/ gallery/ events page */
.navbar-list {
  display: none;
  list-style: none;
  font-size: 1.3rem;

}

.navbar-list li {
  display: inline;
  margin-bottom: 1rem;

}

nav ul li a {
  font-weight: bold;

}

nav ul li a:hover {
  background-color: #353549;
  color: var(--black);
}

/* -------------- MOBILE HEADER ---------------- */

.navbar-list-mobile {
  list-style: none;
  display: none;
  position: absolute;
  margin: 0;
  padding: 20px;
  background-color: var(--white);
  width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  top: 45px;
  left: -30px;
  font-size: .8rem;

}

.navbar:hover .navbar-list-mobile {
  display: block;
}

/* header HAMBURGERRRR text color  */
.navbar-list-mobile a {
  color: var(--black);
}

@media all and (min-width: 800px) {
  header {
    flex-direction: row;
  }

  .navbar-list {
    display: inline-block;
  }

  .navbar {
    display: none;
    border-radius: 5px;
  }
}

/* ------------------------------------------------------------------------ */
/* ----------------------------- FOOTER ------------------------------- */
/* ------------------------------------------------------------------------ */

footer {
  background-color: var(--blue);
  margin-top: 3rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 2rem;
  /* border: 2px solid red; */
}

.newsletter-section, 
.social-media-section {
  color: var(--white);
  align-items: center;
}

.newsletter-container {
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 0.75rem 1rem;
}

#subscribe-email {
  border-radius: 5px;
  width: 100%;
  max-width: 250px;
  padding: 10px;
}

#subscribe-button {
  background-color: var(--yellow);
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  max-width: 100px;
}

.social-media-container {
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.social-media-container i {
  font-size: 2.2rem;
  color: var(--yellow);
}


.footer-links {
  color: var(--white);
  text-align: center;
}

.footer-links a {
  text-decoration: none;
  color: var(--white);
  margin: 0px;
  display: inline-block;
  padding: 5px;
}

.copy-right-patent-or-something {
  color: var(--white);
  text-align: center;
  padding-bottom: 15px;
  font-size: .5rem;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------ INDEX/HOME PAGE -------------------------------- */
/* ------------------------------------------------------------------------------- */


.promo-section {
  display: flex;
  flex-flow: row;
  align-self: center;
  padding: 2rem
}

.promo-pic-container1,
.promo-pic-container2,
.promo-pic-container3 {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.promo-pic-container1 a,
.promo-pic-container2 a,
.promo-pic-container3 a {
  max-width: 100%;
  flex: 0 1 500px;
}


.promo-text1, 
.promo-text2,
.promo-text3{
  text-align: center;
  flex: 1 1 300px;
}


.promo-pics1,
.promo-pics2,
.promo-pics3 {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.slide {
  display: none;
}

.slide.active {
  display: flex;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background:rgba(46, 64, 87, 0.4);
  cursor: pointer;
}

.carousel-indicators button.active {
  background: var(--blue);
}


/* -------------- WHYYYYYYYYY SHOP HERE ---------------- */

.shop-here-section-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
}

.perk {
  display: inline-block;
  margin: 10px;
  text-align: center;
  vertical-align: top;
  width: 90%;
  height: auto;
}

.perk-box {
  width: 15rem;
}

.category-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.category-logo {
  width: 100%;
  margin-right: auto;
  border: 3px solid var(--blue);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

section img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.category-container>div {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 2px;
}

.client-highlights-section {
  margin-bottom: 40px;
}

.client-highlights-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.customer-review-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
  vertical-align: top;
  width: 1/3%;
  height: auto;

}

.customer-review {
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}


/* ------------------------------------------------------------------------- */
/* ----------------------------- ABOUT PAGE  ------------------------------- */
/* ------------------------------------------------------------------------- */

.about-us {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.about-us-container {
  margin: 20px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  padding: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 50%;
}

.about-us-container p {
  text-align: center;
  line-height: 1.3; 
}

/* ---- Business Hours ------ */
#hours {
  margin: 0 auto;
  max-width: 275px;
  width: 100%;
}

#hours td,
#hours th {
  padding-bottom: 10px;
  text-align: center;
}

.contact-us-section {
  background-color: rgba(247, 179, 204, 0.2);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-width: 300px;
  padding: 2rem;
  width: 50%;
}

.contact-us-section input[type="submit"] {
  background-color: var(--yellow);
  font-weight: bold;
}

label {
  display: block;
}

textarea {
  box-sizing: border-box;
  width: 100%;
}

#contact_us_message,
button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  width: 5rem;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  width: 100%;
}

input[type="submit"]:hover,
#subscribe-button:hover,
button:hover, 
.viewCart-modal-container button:hover
{
  background-color: var(--orange);
}

/* ------------------------------------------------------------------------ */
/* ----------------------------- EVENT PAGE ------------------------------- */
/* ------------------------------------------------------------------------ */

.event-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.event-container h2 {
  margin: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.event-container p {
  margin: 10px;
  margin-bottom: 1%;
  padding-bottom: 10px;
  text-align: left;
}

.event-dates {
  margin-left: 5px;
  margin-top: 10px;
  text-align: left;
  width: 300px;
}

/* -------------------------------------------------------------------------- */
/* ----------------------------- GALLERY PAGE ------------------------------- */
/* -------------------------------------------------------------------------- */

.view-cart-button {
  background-color: var(--yellow);
  color: var(--black);
  font-weight: bold;
  font-size: 1rem;
  width: auto;
}

.view-cart-header {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 6%;
  padding-top: 1.5rem;
}

.gallery-book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-bottom: 2rem;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-book-box {
  align-items: center;
  background-color: rgba(247, 179, 204, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-icon img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid lightgrey;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery-book-box p,
.gallery-book-box h3 {
  text-align: left;
  width: 100%;
  padding-left: 1rem;
}

.add-to-cart-button {
  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--yellow);
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
}

/* make smaller */
.gallery-book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 900px) {
  .gallery-book-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .gallery-book-grid {
    grid-template-columns: 1fr;
  }
}

/* -------------------------------------------------------------------------- */
/* ----------------------------- MODAL PAGE ------------------------------- */
/* -------------------------------------------------------------------------- */

.viewCart-modal-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 1000;
}

.viewCart-modal-container {
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.3rem;

  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.viewCart-modal-container button {
  background-color: var(--yellow);
  color: var(--black);
  font-weight: bold;
  padding: 10px;
  width: auto;
  font-size: 1.1rem;
}

.viewCart-modal-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 0 auto; 
  width: 95%;
  height: 95%;
}

#exit_viewCart{
  height: 50%;
  background-color: transparent;
}

.viewCart-modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  width: 95%;
  margin: 0 auto; 
}

.viewCart-cart-right {
  display: flex;
  gap: .7rem; 
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

/* -------------------------------------------------------------------------------------- */
/* ----------------------------- INTERACTIVE MODAL PAGE ------------------------------- */
/* -------------------------------------------------------------------------------------- */

.viewCart-modal-section.click_viewCart {
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  opacity: 1;
  pointer-events: auto;
  inset: 0;
  z-index: 1000;
}

body.modal-open {
  overflow: hidden;
}

.viewCart-modal-body {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 60vh;   
}

.modal-viewCart-modal-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}


.modal-gallery-book-box {
  /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.modal-gallery-icon {
  height: auto;
  object-fit: contain;
  display: block;
  align-items: center;
  width: 50%;
  min-width: 300px;
}

.modal-item-desc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  min-width: 300px;
  padding-bottom: 2rem;
}

.item-name > h3 {
  line-height: 1.2;
}

.cart-pic {
  width: 200px;
  height: 200px;
  object-fit: fill;
  border-radius: 10px;
  margin-top: 0;
  padding-top: 0;
}

.item-price {
  padding-top: 1rem;
}

#cart-pic {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.item-name {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 0;
}

.quantity-row {
  display: block;
  gap: 100px;
}

