/* MOBILE START */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.4%;
}

/* body {
  background-color: #9e9e9e; 
} */
 
/* MOBILE END */

header img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* -------------- MOBILE START ---------------- */
header {
  background-color: #3E5641;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#header-upper {
  display: flex;
  align-items: center;
}

#logo {
  width: 100%;
  margin-right: auto;
}

h1#client-name {
  font-size: 2rem;
  color: #2E2E4E;
  text-align: left;
  flex: 1;
}

.navbar a, .navbar-list a {
  text-decoration: none;
  /* header text color  */
  color: #2E2E4E;
  margin: 0px;
  font-size: 18px;
  display: inline-block;
  padding: 5px;
}

.navbar a:hover, .navbar-list a:hover {
  background-color: #353549;
  color: #fff;
}

.navbar {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 0;
}

nav i {
  font-size: 30px;
  /* hamburger color */
  color: #5C2E5C;
}

.navbar-list {
  display: none;
  list-style: none;
}

.navbar-list li {
  display: inline;
}

.navbar-list-mobile {
  list-style: none;
  display: none;
  position: absolute;
  margin: 0;
  padding: 20px;
  background-color: #c1cfd6;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  top: 45px;
  left: -50px;
}

.navbar:hover .navbar-list-mobile {
  display: block;
}

@media all and (min-width: 800px) {
  header {
    flex-direction: row;
  }

  .navbar-list {
    display: inline-block;
  }

  .navbar {
    display: none;
  }
}

/* ---------------- MOBILE END ------------------ */

nav ul {
  list-style-type: none;
}

nav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-family: arial;
  font-weight: bold;
  color: #c1cfd6;
}

nav ul li a:hover {
  background-color: #353549;
  color: #131c26;
}

#hours {
  width: 275px;
  border: 1px solid black;
}

#hours th, #hours td {
  border: 1px solid black;
}

main, aside {
    padding: 5px;
}

main {
    background: #fdffc2;
}

aside {
    background: #74776b;
}

section {
    /* display: flex;
    flex-direction: column; */
    font-size: 18px;
}

.sectionsub {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}


.shop-here-section {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.shop-here-section h2 {
  font-size: 2.4rem;
}

.shop-here-section-container{
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-around;
}

.perk {
  display: inline-block;
  /* background-color: #fff; */
  padding: 10px;
  margin: 2px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  text-align: center;
  vertical-align: top;
  width: 90%;
  height: auto; 
}

.perk-box {
  width: 20rem; 
}

.perk h3 {
  font-size: 1.8rem;
}

.perk p {
  font-size: 1.6rem;
}

.category-section {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;

}

.category-section h2 {
  font-size: 2.4rem;
}

.categories {
  width: 80%;
  display: flex; 
  flex-direction: row;
  text-align: center;
  margin-left: auto;
  flex-wrap: wrap;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.category-logo {
  width: 100%;
  margin-right: auto;
}

section img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.categories > div {
  /* width: calc(50% - 10px); */
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6rem;
  margin: 2px;
}

.newsletter-section {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}

.left-half {
  width: 100%;
  text-align: center;
}

.left-half h2 {
  font-size: 1.8rem;
}

.right-half {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-half a {
  margin: 0 10px;
  text-decoration: none;
}


.right-half img {
  width: 30px;
}

input[type="submit"], input[type="reset"], button {
  background-color: #eba27a;
  color: #fff;
  padding: 10px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* idk about this size */
  width: 25%;
}

input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
  background-color: #cc6d4d;
}

input[type="text"], input[type="email"], input[type="tel"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial;
  color: #333;
}


