* {
  box-sizing: border-box;
}

:root {
  --blue: #2E4057;
  --white: #FFF7EE;
  --pink: #F7B3CC;
  --black: #131C26;
  --yellow: #C7B65E;
  --orange: #EE583F;
}

@media all and (min-width: 800px) {
    section {
        flex-direction: row;
    }
}

html {
  font-size: 100%;
  background-color: var(--white);
}

body {
  font-family: Calibri, Arial, sans-serif;
  font-size: 1rem;
  /* line-height: 1.6; */
  color: var(--black); 
}

h1,
h2,
h3 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  font-family: Comfortaa, Arial, sans-serif;
}

/* -------------- HEADER ---------------- */

header img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

header {
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

#header-upper {
  display: flex;
  align-items: center;
}

#logo {
  width: 100%;
  margin-right: auto;
}

h1#client-name {
  font-weight: 700;
  color: var(--white);
  text-align: left;
  margin-left: 10px;
  flex: 1;
}

.navbar a, .navbar-list a {
  text-decoration: none;
  /* header text color  */
  color: var(--white);
  margin: 0px;
  display: inline-block;
  padding: 5px;
}

.navbar a:hover, .navbar-list a:hover {
  background-color: var(--yellow);
  color: var(--white);
}

.navbar {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  height: 3.2rem;
  width: 3.2rem;
  padding: 0;
}

nav i {
  font-size: 1.875rem;
  /* hamburger color */
  color: var(--orange);
}

.navbar-list {
  display: none;
  list-style: none;
  font-size: 1.3rem;
  
}

.navbar-list li {
  display: inline;
  margin-bottom: 1rem;
}

nav ul {
  list-style-type: none;
  color: var(--black);

}

nav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #353549;
  color: var(--black);
}

/* -------------- MOBILE HEADER ---------------- */

.navbar-list-mobile {
  list-style: none;
  display: none;
  position: absolute;
  margin: 0;
  padding: 20px;
  background-color: var(--white);
  width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  top: 45px;
  left: -30px;
  font-size: .8rem;
  
}

.navbar:hover .navbar-list-mobile {
  display: block;
}

/* header HAMBURGERRRR text color  */
.navbar-list-mobile a { 
  color: var(--black); 
}


@media all and (min-width: 800px) {
  header {
    flex-direction: row;
  }

  .navbar-list {
    display: inline-block;
  }

  .navbar {
    display: none;
  }
}


/* ----------------------------- Footer ------------------------------- */

footer {
  background-color: var(--blue);
}

.newsletter-section {
  display: flex;
  justify-content: flex-start;
  /* border: 3px solid #2E2E4E; */
  padding: 5px;
}

.left-half {
  width: 100%;
  text-align: center;
  color: var(--white);
}

#subscribe-email {
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
}

#subscribe-button {
  width: 100%;
  max-width: 80px;
  font-weight: bold;
  box-sizing: border-box;
  background-color: var(--orange);
}

.social-media-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.social-media-links h2 {
  text-align: center;
}

.social-media-links a {
  margin: 0 10px;
  text-decoration: none;
}

.social-media-links i {
  font-size: 2.3rem;
}

.footer-links {
  color: var(--white);
  text-align: center;
  
}

.footer-links a {
  text-decoration: none;
  color: var(--white);
  margin: 0px;
  display: inline-block;
  padding: 5px;
}

.copy-right-patent-or-something {
  color: var(--white);
  text-align: center;
  padding-bottom: 15px;
}

/* ---------------- INDEX/HOME PAGE ------------------ */


.promo-section {
  background-color: rgba(247, 179, 204, 0.3);
  max-width: 1200px;
  width: 85%;
  /* margin-top: 40px; */
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.promo-container{
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
}

.promo-section img {
  height: 500px;
  width: 500px;
}

.shop-here-section {
  background-color: rgba(247, 179, 204, 0.3);
  max-width: 1200px;
  width: 85%;
  /* margin-top: 40px; */
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.shop-here-section-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 5px; */
}

.perk {
  /* border: 1px solid #2E2E4E; */
  display: inline-block;
  margin: 10px;
  text-align: center;
  vertical-align: top;
  width: 90%;
  height: auto;
}

.perk-box {
  width: 15rem;
}


.category-section {
  width: 85%;
  max-width: 1200px;
  margin: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(247, 179, 204, 0.2);
  display: flex;
  flex-direction: column;
}

.categories {
  width: 80%;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.category-logo {
  width: 100%;
  margin-right: auto;
  border: 3px solid var(--blue);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

section img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.categories > div {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 2px;
}



.client-highlights-section {
  background-color: rgba(247, 179, 204, 0.3);
  max-width: 1200px;
  width: 85%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.client-highlights-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 5px; */
}

.customer-review-container {
  /* border: 1px solid #2E2E4E; */
  display: inline-block;
  margin: 10px;
  text-align: center;
  vertical-align: top;
  width: 90%;
  height: auto;
}

.customer-review {
  width: 15rem;
}



/* ----------------------------- About Page ------------------------------- */

.hour-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(247, 179, 204, 0.2);
  max-width: 1200px;
  width: 85%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;

}

#hours {
  width: 275px;
  border: 1px solid black;
  text-align: center;
}

#hours th, #hours td {
  border: 1px solid black;
}

.about-us-section {
  display: flex;
  flex-direction: column;
  background-color: rgba(247, 179, 204, 0.2);
  max-width: 1200px;
  width: 85%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;

}


.contact-us-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(247, 179, 204, 0.2);
  max-width: 1200px;
  width: 85%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;

}

input[type="submit"],
input[type="reset"],
button 
{
  background-color: var(--orange);
  color: #131C26;
  padding: 10px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* idk about this size */
  width: 15%;
}

/* input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  background-color: red;
} */

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* ----------------------------- EVENT PAGE ------------------------------- */
 .event-container {
    /* border: 1px solid #2E2E4E; */

  background-color: rgba(247, 179, 204, 0.2);
  max-width: 700px;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.event-container h2 {
  text-align: left;
  margin: 10px;
  margin-bottom: 10px;
}

.event-container p {
  text-align: left;
  margin: 10px;
  margin-bottom: 1%;
}

#event-dates {
  text-align: left;
  margin-left: 5px;
  margin-top: 10px;
  width: 300px;

  /* border: 1px solid #2E2E4E; */
}

#event-dates td {
  border: 1px solid black;
}



/* ----------------------------- GALLERY PAGE ------------------------------- */

.gallery-book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 5%;
  max-width: 1200px;
  margin: 0 auto;
}


.gallery-book-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 1px solid black;
  background-color: rgba(247, 179, 204, 0.2);
}

.add-to-cart-button {
  font-weight: bold;
  background-color: var(--orange);
  width: 100%;  
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
}


.gallery-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    

}



